.body {
    display: flex;
    min-height: 100vh;
}
.sidebar {
    width: 250px;
    background-color: #343a40;
    color: white;
    padding: 20px;
}
.admin-info {
    margin-bottom: 20px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    padding: 10px;
    cursor: pointer;
}
.sidebar ul li:hover {
    background-color: #495057;
}
#list-title{
    color: black;
}
.content {
    flex-grow: 1;
    padding: 20px;
}
.card {
    margin-bottom: 20px;
}

.modal-dialog {
    max-width: 900px;
    margin: 1.75rem auto;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.search-container .btn-primary {
    margin-right: auto;
}
.search-container .input-group {
    flex-grow: 1;
    max-width: 500px;
}