<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link href="/static/CSS/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="w-full max-w-xl">
        <form class="mx-auto shadow-lg p-10 bg-white rounded-lg" action="#" method="POST">
            <div class="flex justify-center mb-12">
                <img src="/Users/amadyfarbasy/Downloads/accaton/imagage/login.avif" alt="Login Image" class="w-32 h-32 object-cover">
            </div>
            <h2 class="text-2xl font-semibold text-center text-gray-900 mb-6">Connexion</h2>
            <div class="mb-6">
              <label for="identifiant" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Identifiant </label>
              <input type="text" id="identifiant" name="identifiant" aria-label="Identifiant" class="bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-4 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Entrez votre téléphone ou prénom" required />
            </div>
            <div class="mb-6">
              <label for="password" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Mot de passe</label>
              <input type="password" id="password" name="mdp" aria-label="Password" class="bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-4 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
            </div>
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-lg w-full sm:w-auto px-6 py-3 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mb-4">Connexion</button>
            <button type="button" class="text-white bg-gray-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-lg w-full sm:w-auto px-6 py-3 text-center dark:bg-red-500 dark:hover:bg-red-600 dark:focus:ring-red-900 mb-4">
                <img src="imagage/iconeGoogle.webp" class="inline w-5 h-5 mr-2" alt="Google Logo"> Se connecter avec Google
            </button>
            <p class="text-center text-gray-500">Pas encore de compte? <a href="#" class="text-blue-600 hover:underline">S'inscrire</a></p>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@1/dist/flowbite.min.js"></script>
</body>
</html>
